@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}

.purple-glow {
    filter: drop-shadow(0 0 15px rgba(107, 33, 255, 0.7));
}

.black-glow {
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
}